* {
	padding:0;
	margin:0;
 }

body {
    text-align: center;
}

#timer {
    margin: auto;
	font-size: 20px;
}

#outer {
    max-width: 60vw;
    margin: auto;
    padding: 20px;
    margin-top: 16vw;
  }

  .point_card {
    height: auto;
    border: 1px solid #000000;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin-bottom: 35px;
    padding: 50px;
    text-align: center;
    line-height: 20px;
    transition: all 0.6s ease-in-out;
  }
  
  .point_card:hover { 
    transform: scale(1.02);
  }

  h2 {
      padding: 20px;
  }