* {
	padding: 0;
	margin: 0;
}

body {
	background-color: #EEE2DC;
}

#page-container {
	position: relative;
	min-height: 100vh;
}

.jumbotron {
	background-color: #123C69;
	color: #EDC7B7;
	font-family: 'Kaushan Script', cursive;
}

h3,
h5,
#footer_text {
	font-family: 'Kaushan Script', cursive;
}

p {
	font-family: sans-serif;
}

.container {
	padding-bottom: 30px;
	color: #123C69;
}

.col-sm-3 {
	padding: 10px;
}

#content-wrap {
	padding-bottom: 5 rem;
}
footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 5 rem;	/* Footer height */
	background-color: #123C69;
	color: #EDC7B7;
	text-align: center;
	font-family: 'Kaushan Script', cursive;
}

.notification {
	background-color: #123C69;
	color: #EDC7B7;
	height: 150px;
	width: 400px;
	position: fixed;
	bottom: 50px;
	right: 50px;
	padding: 5px;
	border: 1px solid #EDC7B7;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}