body {
    font-family: 'Lato','Georgia','Times New Roman', serif;
  }
  
  h1, p {
    color: black;
    line-height: 1.5em;
  }
  
  #header {
    text-align: center;
    padding: 25px;
    margin: auto;
   }
  
  #survey-form {
    background-color: rgb(207, 253, 2);
    opacity: 85%;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
    max-width: 40vw;
    margin: auto;
  }
  
  input {
      display: block;
      width: 100%;
  }

  @media (max-width: 500px) {
    #survey-form {
      max-width: 90vw;
    }
  }

  textarea {
      min-height: 100px;
      width: 100%;
      padding: 10px;
      resize: vertical;
  }

  button {
      display: block;
      width: 100%;
  }